<!doctype html>
<html>
  <body>
    <script>
        window.initialData = <%- initialData %>
    </script>
    <script defer src="http://localhost:8080/bundle.js"></script>
    <div id="react-main-mount"><%- reactOutput %></div>
  </body>
</html>
